<h1>Form Parameters</h1>
<p>The example will display an entered string that has been reversed</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[string_to_reverse]" value="Type string to reverse." id="string_to_reverse" /><br />
<input type="submit" value=".. and display it!">
</form>