<h1>Form Parameters Display</h1>
<p>You had entered:</p>
<p>String Entered- <%= params[:post][:string_to_reverse] %></p>
<p>Reversed String - <%= params[:post][:string_to_reverse].reverse %></p>
<p>Click <a href="/">here</a> to try another string.</p>
